body{
	padding:0;
	margin:0;
	background-color:#f0f4f8;
	text-align:center;
}
.hero{
	background-color: #F1F5F9;
	position:sticky;
	margin:2px 0;
}
.logo-bar{
	height:100px;
}
.logo-img{
	width:150px;
	height:100px;
	padding:10px 0;
}
.hero-bar{
	background-color: #1E3A8A;
	max-width:100%;
	height:30px;
	margin-top:2px;
	box-shadow:2px 0 4px rgb(0,0,0,2);
}
.hero-bar h2{
	color:#F9FAFB;
	text-align:center;
	font-size:18px;
	padding:5px;
}
.section{
	background-color:white;
	align-items:center;
	margin:1000px o;
}
.vision-section{
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:20px;
	gap:20px;
}
.box{
	align-items:center;
	border:2px solid black;
	border-radius:10px;
	background-color:white;
	box-shadow:2px 2px 2px rgb(0,0,0,2);
	max-width:800px;
	padding:15px;
}
.box h2{
	color:#1E3A8A;
	font-size:20px;
	margin-bottom:2px;
	
}
.box p{
	color:black;
	font-size:10px;
	padding:2px 10px;
}
.but{
	align-items:center;
	margin:60px 850px;
	border:2px solid black;
	border-radius:15px;
	transition:0.3s;
}
.but-word{
	padding:5px 10px;
	font-size:20px;
}

.but:hover{
	color:yellow;
	cursor:pointer;
	border-color:blue;
}

.end{
	margin-bottom:0px;
	background-color:blue;
	padding:15px;
	max-width:100%;
	color:white;
	text-align:center;
	
}